@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {margin:0; padding:0;}

html{
      font-size: 16px;
}
body{
      font-size:16px;
      color:#6f6f6f;
      font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li{
      list-style-type:none;
}
img, fieldset{
      border: none;
      vertical-align: middle}
hr {
      clear: both;
      border: none;
}/*:after{clear:both;}*/
a {
      color: inherit;
      text-decoration: none;
      outline: 0;
}
table{
      border-collapse:collapse
}
input, textarea, input::placeholder, input::placeholder {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: middle;
      outline: 0;
}
button{
      outline:0;
}

.sound_only{
      display: block;
      text-indent: -999999999999px;
      height: 0;
}

/*************메인화면, 서브화면 공통영역******************************************************/

#wrap{
      width: 100%;
      min-width: 1024px;
      overflow: hidden;
}
.inner{
      min-width:1024px;
      max-width:1280px;
      margin:0 auto;
}



/*header*/      
#header #logo{
      float:left;
      width: 80px;
}
#header #logo a{
      display: block;
      width: 100%;
      height: 75px;
      background: url(../images/logo.png) no-repeat center;
      background-size: 100%;
}
#header #logo img{
      width: 100%;
}
#header #nav4{
      float:right;
      width:825px;
}

 #header .top_icon{
      float:right;
      width:216px;
      /*background-color:#ccc;*/
}
#header .top_icon p{
      display: inline-block;
}

#header .top_icon span{
      margin-bottom: 5px;
      display: block;
      width: 30px;
      height: 3px;
      background-color: #FB2762;
      /*background-color: #BA7F28;*/
}
#header .all_nav{
      transform: translate(0,21px);
      cursor: pointer;
}
#header .top_icon .icon_size{
      margin-left: 20px;
}
#header .top_icon .icon_size img{
      width: 24px;
      margin-top: 25px;
      margin-bottom: 5px;
}



/***************************navpop**********************************/
#nav_pop{
      position: fixed;
      width: 100%;
      min-width: 1024px;
      height: 100%;
      overflow: auto;
      z-index: 9999999999999;
      display: none;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#42290f+12,c2923a+58,dfc39b+96 */
background: rgb(66,41,15); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(66,41,15,1) 12%, rgba(194,146,58,1) 58%, rgba(223,195,155,1) 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(66,41,15,1) 12%,rgba(194,146,58,1) 58%,rgba(223,195,155,1) 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(66,41,15,1) 12%,rgba(194,146,58,1) 58%,rgba(223,195,155,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42290f', endColorstr='#dfc39b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#nav_pop .navpop_inner{
      width: 1024px;
      margin: 0 auto;
}
#nav_pop #nav_logo{
      width: 100px;
      margin: 50px 0;
}
#nav_pop #nav_logo img{
      width: 100%;
}
/*#nav_pop #nav_logo .nav_close{
      position: absolute;
      top: 20px;
      right: 20px;
      text-indent: -999999999999px;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color:#DFC39B;
}*/
#nav_pop #nav_logo .nav_close{
      text-indent: -99999999999px;
      border: none;
}
#nav_pop .nav_close:before{
      content:'';
      display: block;
      width: 2px;
      height: 20px;
      background-color:#fff;
      transform:rotate(45deg);
      position: absolute;
      top: 10px;
      right: 20px;
  }
  #nav_pop .nav_close:after{
      content:'';
      display: block;
      width: 2px;
      height: 20px;
      background-color:#fff;
      transform:rotate(-45deg);
      position: absolute;
      top: 10px;
      right: 20px; 
  }
#nav_pop .depth1{
      position: relative;
}
#nav_pop .depth1::after{
      display: block;
      content: '';
      clear: both;
}
#nav_pop .depth1 > li{
      width: 25%;
      float: left;
      margin-bottom: 100px;
      color: #fff;
      padding-left: 50px;
      box-sizing: border-box;
      height: 256px;
}
#nav_pop .depth1 > li:nth-child(1),#nav_pop .depth1 > li:nth-child(5){
      padding-left: 0;
}
#nav_pop .depth1 > li::after{ 
      border-right: 1px solid #fff;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 0;
}
#nav_pop .depth1 > li:nth-child(1)::after{
      left: 25%;
      height: 100%;
}
#nav_pop .depth1 > li:nth-child(2)::after{
      left: 50%;
      height: 100%;
}
#nav_pop .depth1 > li:nth-child(3)::after{
      left: 75%;
      height: 100%;
}

#nav_pop .depth1 > li > a{
      font-size: 1.3rem;
      margin-bottom: 50px;
      display: block;
      font-weight: bold;
}
#nav_pop .depth1 ul{
      box-sizing: border-box;
}

#nav_pop .depth2 > li{
      margin-bottom: 20px;
      margin-left: 5px;
      font-size: 0.9rem;
      
}

  /*nav*/
  #nav{
        float: right;
  }
  #header .inner{
        position: relative;
}  
  #nav .depth1 {
        float:left;
}

  #nav .depth1 > li {
        float:left;
        padding:0 20px;
}
  #nav .depth1 > li > a {
      display: block;
      text-align: center;
      font-size:0.9rem;
      color:#333;
      font-weight: bold;
      line-height:75px;
}
  #nav .depth1 > li > a:after {
        content: '';
        height: 3px; 
        background-color:#BA7F28;
        position: relative;
        width:0;
        display: block;
        transition: 0.5s;}
  #nav .depth1 > li:hover > a:after{
        width:100%
}

  #nav .depth1{
        position: static;
} 
    
  #nav .nav_box {
        position:absolute;
        /*top:calc(2.8rem + 25px);*/
        top:78px;
        left:0;
        width:100%;
        background-color:rgba(0,0,0,0.5);
        z-index:96;
        display: none;
        padding:10px 0;
        color:#fff;
}

  #nav .depth1>li:hover .nav_box{
        display: block;
}               
  #nav .nav_box .depth2{
        width:100%;
        margin:0 auto;
        position: relative;
        padding-left: 100px;
        box-sizing: border-box;
        font-size: 0.8rem;
        text-align: center;
}
  #nav .nav_box .depth2:after{
        content: '';
        display: block;
        clear: both;
}
  #nav .depth2 > li{
        display: inline-block;
        box-sizing: border-box;
        padding:10px;
}
 
 #nav .depth2 > li:after{
       content:'';
       display: inline-block;
       width:5px;
       height:5px;
       background-color: #fff;
       border-radius: 50%;
       margin-left:20px;
       transform:translate(0,-3px);
      }
#nav .depth2 > li:last-child:after{
      display: none;
}



/*footer*/
#footer{
      background-color: #aaa;
      color: #fff;
      font-size: 0.8rem;
      padding-bottom: 20px;
}
#footer .inner{
      position: relative;
}
#footer .inner::after{
      content: '';
      display:block;
      clear:both;
}
#footer .footer_logo{
      width: 61px;
      display: inline-block;
      box-sizing: border-box;
      margin-top: 20px;
}
#footer .footer_logo img{
      width: 100%;
}
#footer .f_logo_t{     
      display: inline-block;
      margin-left: 10px;
      transform: translate(0,-3px);
}

#footer ul.footer_txt{
      margin: 10px 0;
}
#footer ul.footer_txt>li{
      display: inline-block;
      box-sizing: border-box;
      border-right: 1px solid #fff;
      margin: 3px;
      padding-right: 10px;
}
#footer ul.footer_txt>li:first-child{
      font-weight: bold;
      color:#BA7F28;
}
#footer ul.footer_txt>li:last-child{
      border: none;
}
#footer p{
      line-height: 1.3em;
}
#footer ul.footer_call{
      position: absolute;
      bottom: 0;
      right: 0;
      float: right;
}
#footer ul.footer_call>li{
      float:left;
}
#footer ul.footer_call>li.call{
      font-size: 2rem;
      font-weight: bold;
}
#footer ul.footer_call>li.call_p{
      margin-top: 20px;
      margin-right: 5px;
}
