/*********************팝업****************************/
#top_popup{
    position: relative;
}
#top_popup img{
    width: 100%;
}
#top_popup .close{
    position: absolute;
    right:100px;
    top: 5px;
    right: 23px;
    text-indent: -99999px;
    background:none;
    border: 0;
    cursor: pointer;
}
#top_popup .close:before{
    content:'';
    display: block;
    width: 2px;
    height: 20px;
    background-color:#BA7F28;
    transform:rotate(45deg);
    position: absolute;
    top: 0px;
}
#top_popup .close:after{
    content:'';
    display: block;
    width: 2px;
    height: 20px;
    background-color:#BA7F28;
    transform:rotate(-45deg);
    position: absolute;
    top: 0px; 
}
/***quick*****************************/
#quickmenu{
    width: 70px;
    position: fixed;
    top:100px;
    right: 0px;
    z-index: 99999999;    
}
#quickmenu ul{
    border-top: 5px solid #BA7F28;
    border-bottom: 5px solid #BA7F28;
    background-color: #fff;
    /*border: 3px solid #BA7F28;*/
}
#quickmenu li{
    margin: 5px;
    text-align: center;
}
#quickmenu li span{
    font-size: 0.5rem;
}
#quickmenu li:last-child{
    color: #fff;
    font-size: 0.8rem;
    background-color: #42290F;
    margin: 0;
    padding: 5px 0;
}
#quickmenu li img{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}
/********************section1*********************************/
#sec1 img{
    width: 100%;
}

/************************article******************************/
#arti .inner{
    position: relative;
}
#arti .alarm{
    display: block;
    background-color: rgb(0,0,0,0.5);
    width: 502px;
    height: 60px;
    position: absolute;
    top: -64px;
    left: 0;    
}
#arti .alarm ul{
    height:1.5em;
    overflow: hidden;
}
#arti .alarm li{
    margin-left: 10px;
    color: #fff;
    font-size: 0.7rem;
    line-height: 2em;

}
#arti .alarm .alarm_font{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 0;
    color: #fff;
    margin-left: 10px;
}
#arti .search{
    display: block;
    background-color: rgb(0,0,0,0.5);
    width: 502px;
    height: 60px;
    position: absolute;
    top:-64px;
    right: 0;
    overflow: hidden;
}
#arti .search ul{
    height:1.5em;
    overflow: hidden;
}
#arti .search li{
    margin-left: 10px;
    color: #fff;
    font-size: 0.7rem;
    line-height: 2em;

}
#arti .search .search_font{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 0;
    color: #fff;
    margin-left: 10px;
}
/********************section2*********************************/
#sec2 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec2 h2{
    color: #C2923A;
    margin: 70px 0 30px 0;
}
#sec2 h2 span{
    font-size: 0.9rem;
    margin-left: 35px;
    font-weight: 500;
    color:#6f6f6f;
}
#sec2 li{
    float: left;
    width: calc((100% - 70px)/3);
    height: 403px;
    background-color: rgb(238, 238, 238);
    margin-right: 35px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
#sec2 li:nth-child(3n){
    margin-right: 0;
}
#sec2 img{
    margin-top: 30px;
}
#sec2 .clinic_txt{
    font-weight: bold;
    color: #42290F;
   
    background-color: #DFC39B;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.clinic_box_on{
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    padding-top: 50px;
    margin-top: 35px;
    color: #C5953C;
}
.clinic_box_on.cc_txt{
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 50px;
    color: #42290F;
}
/*애니메이션*/
.clinic li .clinic_box_on{
    display: none;
}
.clinic li:hover .clinic_box_on{
    display: block;
}
.clinic li:hover .clinic_box{
    display: none;
}

/*애니메이션*/

#sec2 ul.clinic>li::before{
    content: '';
    display: block;
    width:0;
    height:0;
    position: absolute;
    top:0;
    left:0;
    border:4px solid transparent   
}
#sec2 ul.clinic>li:hover:before{
    width:calc(100% - 8px);
    height:calc(100% - 8px);
    border-top-color:#DFC39B;
    border-right-color:#DFC39B;
    transition:width 0.4s, height 0.4s 0.4s;
}

#sec2 ul.clinic>li::after{
    content: '';
    display: block;
    width:0;
    height:0;
    position: absolute;
    bottom:0;
    right:0;
    border:4px solid transparent    
}
#sec2 ul.clinic>li:hover::after{
    width:calc(100% - 8px);
    height:calc(100% - 8px);
    border-bottom-color:#DFC39B;
    border-left-color:#DFC39B;
    transition:width 0.4s, height 0.4s 0.4s;
}
/**********************sec3**************************/
#sec3::after{
    content: '';
    display: block;
    clear: both;
}
#sec3 h2{
    color: #C2923A;
    margin: 110px 0 30px 0;
}
#sec3 h2 span{
    font-size: 0.9rem;
    margin-left: 35px;
    font-weight: 500;
    color:#6f6f6f;

}
#sec3 .introduce .one{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 33.5%;
    margin-right: 35px;   
    height: 320px;
    overflow: hidden;

}
/**********중요**이미지커지게하기********/
#sec3 .introduce .one img{
    position: relative;
    width: 400px;
    left: calc(50% - 200px);
    transition: 1s;
}
#sec3 .introduce .one img:hover{
    transform: scale(1.1);
}

#sec3 .introduce .two{
    box-sizing: border-box;
    display: block;
    float: left;
    width: calc(66.5% - 35px);    
    height: 308px;
    overflow: hidden;
}
#sec3 .introduce .two img{
    position: relative;
    width: 830px;
    left: calc(50% - 415px);
    transition: 2s;
}
#sec3 .introduce .two img:hover{
    transform: scale(1.1);
}
/**********************sec4**************************/
#sec4{
    margin-bottom: 110px;
}
#sec4::after{
    content: '';
    display: block;
    clear: both;
}
#sec4 h2{
    color: #C2923A;
    margin-top: 220px;
    margin-bottom: 10px;
}
#sec4 h3{
    font-size: 0.9rem;
    font-weight: 500;
    color:#6f6f6f;
    margin-bottom: 60px;

}
#sec4 h2,#sec4 h3{
    display: block;
}
#sec4 .sec4_title{
    width: 400px;
    float: left;
    margin-right: 35px;
    margin-top: 110px;
}
#sec4 .sec4_title img{
    width: 100%;
}
#sec4 .sec4_cont{
    width:calc(100% - 435px);
    float: left;
}

/**********************sec5**************************/

#sec5 img{
    width: 100%;
}

#sec5{
    position: relative;
} 

#sec5 .y_but{
    position: absolute;
    top: calc(50% - 29px);
    left: 50%;
}
#sec5 .y_but img{
    width: 20%;
}
/**********************sec6**************************/
#sec6{
    margin-bottom: 110px;
}
#sec6 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec6 h2{
    color: #C2923A;
    margin: 110px 0 30px 0;
}
/******************/
#sec6 h2 span{
    font-size: 0.9rem;
    margin-left: 35px;
    font-weight: 500;
    color:#6f6f6f;
}
#sec6 ul a{
    display: block;  
}
#sec6 ul{
    float: left;

}
#sec6 ul li{
    display: block;
    float: left;
    box-sizing: border-box;
    width: calc((100% - 20px)/3);
    margin-right: 10px;
    height: 423px;
    background-color: #eee; 
    transition: 0.5s;   
}
#sec6 ul li:hover{
    transform: scale(1.1);
}
#sec6 ul li:last-child{
    margin-right: 0;
}
#sec6 ul li img{
    width: 100%;
}
#sec6 ul li .f_size{
    font-size: 0.9rem;
    font-weight: bold;
    margin: 30px 20px 0 20px;
    color: #555
}
#sec6 ul li .f_size_t{
    font-size: 0.8rem;
    margin: 10px 20px 0 20px;

}
#sec6 ul li .f_size_t:hover{
    text-decoration:underline;
}
#sec6 span.more{
    font-size: 0.8rem;
    float: right;
    margin-right: 20px;
}
#sec6 span.more:hover{
    font-weight: bold;
}